<form action="/payment/results">
  
  <div>
    <label for="key_num">APR</label>
    <input name="apr" id="key_num" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="years">Number of years</label>
    <input name="term" id="years" placeholder="E.g. 4.5">
  </div>

  <div>
    <label for="principal">Principal</label>
    <input name="amount" id="principal" placeholder="E.g. 30">
  </div>

  <button>
    Calculate monthly payment
      </button>
</form>

