<form action="/random/results">
  <div>
    <label for="min_input">Minimum</label>
    <input name="user_min" id="min_input" placeholder="E.g. 1.5">
  </div>
  
  <div>
    <label for="max_input">Maximum</label>
    <input name="user_max" id="max_input" placeholder="E.g. 4.5">
  </div>
  <button>
    Pick random number
      </button>
</form>

